body{ background-color: beige;
 	font-family: sans-serif;
     border: 100px solid rgba(255,255,255,0.15);
     box-sizing: border-box; 
       }

 h4{ font-weight: lighter;
 		
}

h1{
	text-align: center;
    text-transform: uppercase;
}

img{
			height: 100px;
			width: 100px;
			border-radius: 50%;
			border-top:1px solid black;
			border-bottom: 2px solid #ff0000;
			border-left:3px solid #black;
	}