*{

    margin:0;
    padding:0;
    
}

body{  
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
}


.heading{
    position:fixed;
   top:15%;
   left:35%;
}

 .Booked{
    font-size: 30px;
    padding-right: 10px;
    transform: translate(-50%, -50%);
}
.Remaining{
    font-size: 30px;
    padding-right: 15px;
    transform: translate(-50%, -50%);

}

.Booked-count{
    font-size: 30px;
    padding-right: 30px;
    transform: translate(-50%, -50%);
}
.Remaining-count{
    font-size: 30px;
    transform: translate(-50%, -50%);
   
}

.container {
   position: absolute;
   transform: translate(6%, 20%);
   border-radius: 0px;
   box-shadow: 0 10px 32px 0 rgba(199, 202, 235, 0.37);
   
   box-sizing: border-box;
   background: rgba(116, 23, 23, 0.603);
   
   backdrop-filter: blur(4px);

   border: 1px solid rgba(255,255,255,0.15);
   display:flex;
    
}
 
 .box{
    background-color: rgb(95, 26, 5);
    border: 2px solid rgb(240, 193, 133);
    height:60px;
    width:80px;
   
}

.clicked{
  
    background-color:rgb(58, 13, 2);
   
} 







